:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1, 'dlig', 'zero', 'ss02', 'ss07', 'ss08', 'cv05';
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}


/* makes sizing simpler cos include padding and border in size calculation */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  color-scheme: dark light;
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
}

/* responsive images/videos */
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

/* FROM NOWON THE PARTICULAR STYLE RULES START HERE */

/* Minor third */

h1 {
  font-weight: 700;
  font-size: 2.986rem;
  /* font-style: italic; */
  line-height: 1.1;
  margin-bottom: 1.6rem;
}

h2 {
  font-weight: 600;
  font-size: 2.488rem;
  line-height: 1.1;
  margin-bottom: 1.6rem;
}

h3 {
  /* font-weight: 600; */
  font-size: 2.074rem;
}

h4 {
  /* font-weight: 600; */
  font-size: 1.728rem;
}

h5 {
  /* font-weight: 600; */
  font-size: 1.44rem;
}

h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

p {
  line-height: 1.6;
  margin-bottom: 1.6rem;
}

.ft-small {
  font-weight: 400;
  font-size: 0.833rem;
}

.ft-caption {
  font-weight: 200;
  font-size: 0.694rem;
}