/* Estilos generales */
body {
  font-size: 16px;
  /* Tamaño de cuerpo de texto */
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1600px;
  /* Ancho máximo del contenedor */
  margin: 0 auto;
  /* Centrar el contenedor */
  padding: 20px;
  background-color: #F7F7F7;
  height: auto;
}

/* Tamaños armónicos de los encabezados */
h1 {
  font-size: 2.5rem;
  /* Tamaño armónico para H1 en rem */
  margin-bottom: 1rem;
  color: #222;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  /* Tamaño armónico para H2 en rem */
  margin-bottom: 0.875rem;
  color: #2A2A2A;
  font-weight: 600;
}

p {
  margin-bottom: 1rem;
}

h1 {
  color: #222222;
  font-size: 3rem;
  /* 48px */
  font-weight: 700;
  margin-bottom: 1rem;
  /* 16px */
}

h2 {
  color: #2A2A2A;
  font-size: 2rem;
  /* 32px */
  font-weight: 600;
  margin-bottom: 0.875rem;
  /* 14px */
}

h3 {
  color: #333333;
  font-size: 1.5rem;
  /* 24px */
  font-weight: 600;
  margin-bottom: 0.75rem;
  /* 12px */
}

h4 {
  color: #4A4A4A;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 500;
  margin-bottom: 0.625rem;
  /* 10px */
}

h5 {
  color: #5E5E5E;
  font-size: 1.125rem;
  /* 18px */
  font-weight: 400;
  margin-bottom: 0.5rem;
  /* 8px */
}

h6 {
  color: #737373;
  font-size: 1rem;
  /* 16px */
  font-weight: 400;
  margin-bottom: 0.375rem;
  /* 6px */
}

/* Párrafo */
p {
  color: #333333;
  font-size: 1rem;
  /* 16px */
  font-weight: 400;
  margin-bottom: 0.75rem;
  /* 12px */
}

/* Captions */
.caption {
  color: #8A8A8A;
  font-size: 0.875rem;
  /* 14px */
  font-weight: 300;
  margin-top: 0.25rem;
  /* 4px */
  margin-bottom: 0.25rem;
  /* 4px */
}


/* Adaptabilidad para diferentes dispositivos */
@media (max-width: 1200px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 5px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}